<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>统一异常处理</title>
    <link rel="stylesheet" type="text/css" href="./dist/semantic.min.css"/>
<script src="./jquery.min.js"></script>    
<script src="./dist/semantic.min.js"></script>
</head>
<body>
<h1>Error Handler</h1>
<div th:text="${url}"></div>    
<div th:text="${exception.message}"></div>






<h1 class="ui center aligned header">Responsive UI Examples</h1>


<h2 class="ui center aligned header" onclick="alert(window.location.href)">Basic Responsive</h2>


<h3 class="ui center aligned header">Container</h3>
<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
  </div>
</div>





  









</body>
</html>